<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <em class="far fa-user-circle fa-2x"></em>
        </a>

        <div class="navbar-item">
            <p>Hi, <%= currentUser.username %>!</p>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu has-background-primary">
        <div class="navbar-start">


        </div>

        <div class="navbar-end">
            <div class="navbar-item ">
                <div class="buttons">
                    <% if (currentUser) { %>
                    <a href="/logout" class="button is-fullwidth is-danger">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>