<%- include("../partials/head") %>

<body>
    <%- include("../partials/navbar") %>

    <main>
        <section class="section">
            <div class="container column is-half ">
                <%- include("../partials/flash") %>

                <%- body %>
            </div>
        </section>
    </main>

    <script src="/javascripts/bulmaDeleteFlash.js"></script>
    <script src="/javascripts/toggleNavbarBurger.js"></script>
    <script src="/javascripts/displayTodos.js"></script>
</body>

</html>