<%- include("../partials/head") %>

<body>
    <main>
        <section class="section">
            <div class="container column is-two-fifths is-mobile">
                <%- include("../partials/flash") %>

                <%- body %>
            </div>
        </section>
    </main>



    <script src="/javascripts/bulmaDeleteFlash.js"></script>
</body>

</html>