<%- include("../partials/head") %>

<body>
    <section class="section">
        <div class="container column is-two-fifths is-mobile">
            <%- include("../partials/flash") %>

            <%- body %>
        </div>
    </section>


    <script src="/javascripts/bulmaDeleteFlash.js"></script>
</body>

</html>