<%- layout("./layouts/registration")%>

<article class="message is-danger">
    <div class="message-header">
        <p class="has-text-centered"><%= err.message %></p>
    </div>
    <div class="message-body">
        <p> <%= err.stack %> </p>
    </div>
</article>