<%- layout("./layouts/registration") %>

<div class="buttons loginAndSignupButton">
    <a href="/login" class="button is-link is-medium is-fullwidth">Login</a>
</div>

<div class="buttons">
    <a href="/signup" class="button is-primary is-medium is-fullwidth">Sign Up</a>
</div>