html {
    background-color: hsl(0, 0%, 21%);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .loginAndSignupButton {
        margin-top: 30%;
    }

    .signupPage,
    .loginPage {
        margin-top: 25%;
    }
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 600px) {
    .navbar-menu {
        display: block;
        opacity: 0;

        position: absolute; /* or float: left; width: 100%;*/
        left: 0;
        right: 0;

        transform: translateY(-10%);
        transition: all 0.25s ease-in-out;
        pointer-events: none;
    }

    .navbar-menu.is-active {
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }

    .loginAndSignupButton {
        margin-top: 60%;
    }

    .signupPage,
    .loginPage {
        margin-top: 50%;
    }

    .modalInput {
        width: 88%;
    }
}

#btn {
    text-align: left;
}

.modal-card-head {
    height: 40%;
}

.modal-card-body {
    height: 120px;
}