<%- layout("./layouts/boilerplate"); %>

<h1 class="title has-text-white">To-Do List</h1>

<div class="has-background-grey-light box">
    <form action="/todos" method="POST">
        <div class="columns is-mobile">

            <div class="column">
                <input class="box input m-0" type="text" placeholder="New Todo" name="data" id="data">
            </div>

            <div class="column is-4">
                <button class=" button is-fullwidth box is-warning has-text-dark">Create</button>
            </div>

        </div>
    </form>
</div>

<div class="box has-background-info">

    <% for (let todo of todos) { %>
    <div class="columns is-mobile is-gapless">

        <div class="column">
            <form action="/todos/<%= todo._id %>?_method=PUT" method="POST">
                <input class="box input px-2" type="text" name="data" id="data" value="<%= todo.data %>">
            </form>
        </div>

        <div class="column is-3 ml-3">
            <form action="/todos/<%= todo._id; %>?_method=DELETE" method="POST">
                <button class="button is-fullwidth box has-background-success has-text-white mr-2">Done</button>
            </form>
        </div>

    </div>
    <% } %>
</div>