<%- include("partials/head") %>

<body>
    <section class="section">
        <div class="container column is-half">
            
            <h1 class="title">New To-Do</h1>

            <form action="/todos" method="POST">

                <div class="box has-background-primary">
                    <input class="input is-primary" placeholder="New ToDo" type="text" name="data" id="data">
                </div>

                <div class="block">
                    <div class="button is-danger">
                        <a class="has-text-white" href="/todos/">Cancel</a>
                    </div>

                    <button class="button is-success">Submit</button>
                </div>
            </form>
        </div>
    </section>
</body>

<%- include("partials/footer") %>